<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AUTOMATED_ATTENDANCE_SYSTEM.My.MySettings.AASConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AAS;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
